body{
    background-color:#EFF5F5;
    font-family:Chivo Mono;
}

.navbar a{
    color:#D6E4E5;
}

.navbar{
    background-color:#497174;
}

.common-margin{
    margin-left: 2rem;
    margin-right: 2rem;
}

.w-100 {
    width: 100% !important;
    height: 60vh;
  }
 

